.night-theme {
  background-color: black;
  color: white;
}

.dawn-theme {
  background-color: darkkhaki;
  color: darkred;
}

.morning-theme {
  background-color: darksalmon;
  color: brown;
}

.afternoon-theme {
  background-color: orange;
  color: brown;
}

.noon-theme {
  background-color: lightskyblue;
  color: darkblue;
}

.dusk-theme {
    background-color: gray;
    color: darkred;
  }

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.top-right {
  grid-column: 2 / -1;
}

img {
  display: block;
  margin: auto;
  height: 100%;
}

div {
    padding:10px;
}